.App {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    text-align: right;
    color: #5f6368;
    letter-spacing: .07272727em;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
}